<a href="https://colab.research.google.com/github/yajit94/GithubActionsDemo/blob/master/GitProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("US_Accidents_Dec21_updated.csv")

In [7]:
data

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209911,A-209912,2,2017-07-06 16:45:23,2017-07-06 22:45:23,43.022360,-88.036190,43.027480,-88.042040,0.461,Ramp to Exit 1B - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
209912,A-209913,4,2017-07-06 17:51:19,2017-07-06 23:51:19,43.058790,-76.099290,43.056480,-76.109920,0.560,Closed at Midler Ave/Exit 15 - Road closed due...,...,False,False,False,False,False,False,Day,Day,Day,Day
209913,A-209914,2,2017-07-06 18:06:23,2017-07-07 00:06:23,28.371770,-81.298120,28.368490,-81.371840,4.488,Between Boggy Creek Rd/Exit 17 and Landstar Bl...,...,False,False,False,False,False,False,Day,Day,Day,Day
209914,A-209915,2,2017-07-06 18:18:18,2017-07-07 00:18:18,40.753270,-74.210830,40.759010,-74.208870,0.410,At I-280/Exit 145 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
209915,A-209916,3,2017-07-06 18:20:36,2017-07-07 00:20:36,27.338496,-82.445847,27.338496,-82.445847,0.000,At I-75 - Accident.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209916 entries, 0 to 209915
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     209916 non-null  object
 1   Severity               209916 non-null  int64
 2   Start_Time             209916 non-null  object
 3   End_Time               209916 non-null  object
 4   Start_Lat              209916 non-null  float64
 5   Start_Lng              209916 non-null  float64
 6   End_Lat                209916 non-null  float64
 7   End_Lng                209916 non-null  float64
 8   Distance(mi)           209916 non-null  float64
 9   Description            209916 non-null  object
 10  Number                 41616 non-null   float64
 11  Street                 209916 non-null  object
 12  Side                   209915 non-null  object
 13  City                   209893 non-null  object
 14  County                 209915 non-null  object
 15  State                  209915 non-null  object
 16  Zipcode                209783 non-null  object
 17  Country                209915 non-null  object
 18  Timezone               209766 non-null  object
 19  Airport_Code           209586 non-null  object
 20  Weather_Timestamp      207910 non-null  object
 21  Temperature(F)         205440 non-null  float64
 22  Wind_Chill(F)          33221 non-null   float64
 23  Humidity(%)            205185 non-null  float64
 24  Pressure(in)           206378 non-null  float64
 25  Visibility(mi)         204750 non-null  float64
 26  Wind_Direction         207893 non-null  object
 27  Wind_Speed(mph)        175290 non-null  float64
 28  Precipitation(in)      26205 non-null   float64
 29  Weather_Condition      204854 non-null  object
 30  Amenity                209915 non-null  object
 31  Bump                   209915 non-null  object
 32  Crossing               209915 non-null  object
 33  Give_Way               209915 non-null  object
 34  Junction               209915 non-null  object
 35  No_Exit                209915 non-null  object
 36  Railway                209915 non-null  object
 37  Roundabout             209915 non-null  object
 38  Station                209915 non-null  object
 39  Stop                   209915 non-null  object
 40  Traffic_Calming        209915 non-null  object
 41  Traffic_Signal         209915 non-null  object
 42  Turning_Loop           209915 non-null  object
 43  Sunrise_Sunset         209893 non-null  object
 44  Civil_Twilight         209893 non-null  object
 45  Nautical_Twilight      209893 non-null  object
 46  Astronomical_Twilight  209893 non-null  object
dtypes: float64(13), int64(1), object(33)
memory usage: 75.3+ MB